.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 80px;
  } 

.h2{
    color: rgb(13, 0, 254);
    text-align: center;
}

.h3{
    background-color: black;
    background-image: url(findme.png);
}
